*{
  margin:0;
}
body{
  background: linear-gradient(rgba(255,250,0,0.3),rgba(0,0,255,0.3));
  min-height: 100vh;
  font-size: 20px;
}
main{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
article{
  display:flex;
  width: 100%;
  max-width:900px;
  background: rgba(33,33,33,0.3);
  flex-direction: column; /* раставляет элементы с верху в низ */
}
footer{
  display:flex;
  justify-content: space-around; /* распределяет блоки во всей ширине */
  align-items: center; /* выравнивает по центру */
  width: 100%;
  max-width:900px;
  min-height: 70px;
  background: rgba(0,0,0,0.3);
}
 /* .box - чтобы на не ставить футер в аркикл т.к. это разные элементы тегов html5 и могут нарушить смысловую нагрузку всего сайта */
.box{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}
aside{
  position:sticky; /* Прилипляет блок */
  top:0; /* значение куда блок прилипнет */
  width:200px;
  height:300px;
  background:green;
}
article p{
  margin:3%;
}
@media(max-width:1100px){
  aside{
    display:none;
  }
}
article h1{
  text-align: center;
}
strong a{
  margin:3%;
}
